.element{
    text-align: center;
}
.fusion_list {
    max-height: 200px;
    width:100%;
    display:block !important;
    overflow:scroll !important;
}
.fusion{
    font-size:9px;
}
.arcana{
    width: 100% !important;
    text-align: center !important;
}
