.base{
    background-color: #494949;
    // background-color: #222222;
    padding-bottom: 8px;
}
.element_img{
    max-width: 40px;
    max-height: 15px;
}
.name{
    font-size: 13px;
}
.info{
    font-size: 10px;
    padding-left: 12px;
    padding-top:0px !important;
    margin-top: 0px !important;
    margin-left: 12px;
}
.level{
    text-align: right;
    font-size: 10px;
}
.grid{
    margin-bottom: 0px !important;
    padding-bottom: 0px !important;
}