.avatar{
    width: 45px;
    height: 45px;
    margin: 4px;
    float: left;
}
.persona{
    background-color: #494949;
    overflow:hidden;
}
.persona div{
    font-size: 12px;
    overflow:hidden; 
    display: table-cell;
    vertical-align: middle;
}
.arcana{
}