.avatar{
    width: 45px;
    height: 45px;
    margin: 12px;
    float: left;
}
.persona{
    background-color: #494949;
    overflow:hidden;
    max-width: 400px;
    margin-left:auto;
    margin-right:auto;
}
.persona div{
    font-size: 12px;
    overflow:hidden; 
    display: table-cell;
    vertical-align: middle;
}
.arcana{
    // display: table-cell;
    // vertical-align: middle;
    margin:auto;
}
.arcana p{
    color:white;
    margin: 4px !important;
}
.outer{
    display: table;
}
.item{
    font-size: 10px;
}