<ion-header>
  <ion-toolbar color='primary'>
    <ion-title>
      Persona5
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list lines="none">
        <ion-grid>
          <ion-row>
            <ion-col col-4 col-md-3 col-xl-2 *ngFor="let persona of personalist">
                <app-persona-row [persona]=persona (click)="onItemClick(persona)"></app-persona-row>
            </ion-col>
          </ion-row>
        </ion-grid>
      <!-- <app-persona-row></app-persona-row>
      <ion-item *ngFor="let persona of personalist">{{ persona.name }}</ion-item> -->
    </ion-list>
</ion-content>
