// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {

  --ion-background-color: #555555;
  --ion-text-color: #ffffff;
  --ion-toolbar-background:#fa2d2d;
  --ion-toolbar-color:#ffffff;
  --ion-tab-bar-background:#222222;
  --ion-item-color:#ffffff;
  
  --ion-color-primary: #fa2d2d;
  --ion-color-primary-rgb: 150,150,150;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #dc2828;
  --ion-color-primary-tint: #fb4242;

  --ion-color-secondary: #FF6A56;
  --ion-color-secondary-rgb: 255,106,86;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0,0,0;
  --ion-color-secondary-shade: #e05d4c;
  --ion-color-secondary-tint: #ff7967;

  --ion-color-tertiary: #FFC0A4;
  --ion-color-tertiary-rgb: 255,192,164;
  --ion-color-tertiary-contrast: #000000;
  --ion-color-tertiary-contrast-rgb: 0,0,0;
  --ion-color-tertiary-shade: #e0a990;
  --ion-color-tertiary-tint: #ffc6ad;

  --ion-color-success: #0091FF;
  --ion-color-success-rgb: 0,145,255;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255,255,255;
  --ion-color-success-shade: #0080e0;
  --ion-color-success-tint: #1a9cff;

  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255,206,0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255,255,255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 245,61,61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255,255,255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  --ion-color-dark: #f4f5f8;
  --ion-color-dark-rgb: 244,245,248;
  --ion-color-dark-contrast: #000000;
  --ion-color-dark-contrast-rgb: 0,0,0;
  --ion-color-dark-shade: #d7d8da;
  --ion-color-dark-tint: #f5f6f9;

  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152,154,162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255,255,255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  --ion-color-light: #353535;
  --ion-color-light-rgb: 53,53,53;
  --ion-color-light-contrast: #ffffff;
  --ion-color-light-contrast-rgb: 255,255,255;
  --ion-color-light-shade: #2f2f2f;
  --ion-color-light-tint: #494949;

}
.HeaderAdSpace{
  line-height:50px;
}
