
.skill{
    background-color: #494949;
    overflow:hidden;
    max-width: 400px;
    margin-left:auto;
    margin-right:auto;
}
.skill_name{
    font-size: 16px;
    color: white;
}
.skill_info{
    color: gray;
}
.skill div{
    margin: 8px;
}