.base{
    min-width: 90px;
    height: 120px;
    margin: 4px;
    text-align: center;
    padding: 4px;
}
.avatar{
    margin:auto;

}
.name{
    font-weight: bold;
    font-size: 11px;
    padding:0px;
    margin-top:2px;
    margin-left:0px;
    margin-bottom:2px;
    margin-right:0px;
}
.level{
    font-size: 10px;
    padding:0px;
    margin:0px;
}