.base{
    min-width: 300px;
}
.base div{
    width: 100%;
}
.base ion-list-header{
    margin:0px !important;
}
// .accordion{
// }
// .accordion ion-list-header{

//     margin:0px !important;
//     padding:0px !important;
//     width: auto;
// }
// .accordion ion-item{
//     width: auto;

//     background: #0055ff;;
// }
.ion-header{
    width: 100%;
    // background-color: #669dd4;
}
.ion-header ion-icon{
    color: #fff;
}
.ion-header img{
    padding-left: 15px;
    padding-right: 7px;
    max-height: 15px;
    min-height: 10px;
}
.section{
    // background: #fff;
    // color: #000;
    // margin-bottom: 4px;
    margin:0px !important;
    padding:0px !important;
}
.section-active{
    // background:#ff0000;
    // color:#fff;
}
// .section ion-list-header{
//     background: #ff0000;
// }

.skill_item {
    width: 100%;
}