<ion-header>
  <ion-toolbar>
    <ion-title>
      Persona5
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col auto>

      </ion-col>
      <ion-col>
        <ion-list class="base">
          <div *ngFor="let item of skillType; let i = index" [ngClass]="{'section-active': item.open, 'section':!item.open}">
            <ion-list-header lines="none">
              <!-- <div>  -->
                <!-- [ngClass]="{'section-active': item.open, 'section':!item.open}"> -->
                <ion-item (click)="toggleSection(i)" lines="none" class="ion-header">
                  <!-- <div class="header_outer"> -->
                  <ion-icon item-left name="arrow-forward" *ngIf="!item.open"></ion-icon>
                  <ion-icon item-left name="arrow-down" *ngIf="item.open"></ion-icon>
                  <!-- &nbsp;&nbsp;&nbsp;&nbsp; -->
                  <img src="assets/element/{{item.type}}.png">
                  <!-- &nbsp;&nbsp; -->
                  <ion-text>{{item.name}}</ion-text>
                <!-- </div> -->
                </ion-item>
              <!-- </div> -->

            </ion-list-header>
            <ion-list *ngIf="item.list && item.open" >
              
                <ion-item (click)="clickSkill(skill)"   *ngFor="let skill of item.list; let j = index"  lines="none" detail-none>
                  <app-skill-home [skill]=skill class="skill_item"></app-skill-home>
                  <!-- <ion-text>{{skill.name}}</ion-text>
                  <ion-text>HP</ion-text> -->
                </ion-item>

            </ion-list>

          </div>
        </ion-list>
      </ion-col>
      <ion-col auto>

      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>