<ion-header>
    <div class="HeaderAdSpace">
        <br>
      </div>
  <ion-toolbar>
      <ion-title *ngIf="!searchMode">
          Persona5
        </ion-title>
        <ion-buttons *ngIf="!searchMode" slot="primary">
          <ion-button (click)="searchMode = !searchMode">
            <ion-icon slot="end" name="search"></ion-icon>
          </ion-button>
        </ion-buttons>
    
    
        <ion-searchbar *ngIf="searchMode" [(ngModel)]="searchInput" [showCancelButton]="showSearchCancelButton"
          (change)="change($event)" (ionCancel)="onCancel($event)" class="search"
          placeholder="スキル" color="primary">
        </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col auto>

      </ion-col>
      <ion-col>
        <ion-list class="base">
          <div *ngFor="let item of skillType; let i = index" [ngClass]="{'section-active': item.open, 'section':!item.open}">
            <ion-list-header lines="none">
              <!-- <div>  -->
                <!-- [ngClass]="{'section-active': item.open, 'section':!item.open}"> -->
                <ion-item (click)="toggleSection(i)" lines="none" class="ion-header">
                  <!-- <div class="header_outer"> -->
                  <ion-icon item-left name="arrow-forward" *ngIf="!item.open"></ion-icon>
                  <ion-icon item-left name="arrow-down" *ngIf="item.open"></ion-icon>
                  <!-- &nbsp;&nbsp;&nbsp;&nbsp; -->
                  <img src="assets/element/{{item.type}}.jpg">
                  <!-- &nbsp;&nbsp; -->
                  <ion-text>{{item.name}}</ion-text>
                <!-- </div> -->
                </ion-item>
              <!-- </div> -->

            </ion-list-header>
            <ion-list *ngIf="item.list && item.open" >
              
                <div (click)="clickSkill(skill)"   *ngFor="let skill of item.list; let j = index"  lines="none" detail-none>
                  <app-skill-home [skill]=skill class="skill_item"></app-skill-home>
                  <!-- <ion-text>{{skill.name}}</ion-text>
                  <ion-text>HP</ion-text> -->
                  </div>

            </ion-list>

          </div>
        </ion-list>
      </ion-col>
      <ion-col auto>

      </ion-col>
    </ion-row>
  </ion-grid>

  <script type="text/javascript">
    var nend_params = {"media":62208,"site":326257,"spot":968524,"type":1,"oriented":3};
  </script>
  <script type="text/javascript" src="https://js1.nend.net/js/nendAdLoader.js"></script>
</ion-content>