.base{
    min-width: 300px;
}
.base div{
    width: 100%;
}
.accordion{
    width: auto;
    // background:#00FF00;
}
.accordion ion-list-header{

    margin:0px !important;
    padding:0px !important;
    width: auto;
    // background: #00ffff;;
}
// .accordion ion-item{
//     width: auto;

//     background: #0055ff;;
// }
.ion-header{
    width: 100%;
    // background-color: #669dd4;
}
// .section{
//     background: #fff;
//     color: #000;
//     margin-bottom: 4px;
// }
// .section-active{
//     background:#ff0000;
//     color:#fff;
// }
