.avatar{
    width: 45px;
    height: 45px;
    margin: 4px;
    float: left;
}
.persona{
    margin: 0% !important;
    background-color: #494949;
    overflow:hidden;
}
.base{
    margin: 0% !important;
    padding: 0% !important;
}
.persona div{
    font-size: 12px;
    overflow:hidden; 
    display: table-cell;
    vertical-align: middle;
}
.item{
    margin: 0px !important;
    padding: 0px !important
}
.arcana{
    margin: 0px !important;
}