<ion-item class="base">
  <ion-grid>
    <ion-row>
      <ion-col *ngIf="isBigWidesize()" size="2">

      </ion-col>
      <ion-col auto>

        <app-persona-horizontal [persona]=fusion.first (click)="onClickPersona(fusion.first)">
        </app-persona-horizontal>
      </ion-col>
      <ion-col size="2" *ngIf="isBigWidesize()" class="kakeru">
          ×
      </ion-col>
      <ion-col auto >
        <app-persona-horizontal [persona]=fusion.second (click)="onClickPersona(fusion.second)">
        </app-persona-horizontal>
      </ion-col>
      <ion-col size="2" *ngIf="isBigWidesize()">

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-item>