<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="home"></ion-back-button>
    </ion-buttons>
    <ion-title>合成</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="persona" lines="none">
    <ion-grid>
      <ion-row>
        <ion-col auto>

        </ion-col>
        <ion-col>
          <ion-card>
            <img src="assets/persona/{{persona.name}}.jpg" alt="">
          </ion-card>
        </ion-col>
        <ion-col class="row row-eq-height">
          <ion-text>{{persona.name}}</ion-text>
          <ion-text>{{persona.arcana}} Lv:{{persona.level}}</ion-text>
        </ion-col>
        <ion-col auto>

        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div *ngIf="fusionList !== undefined && fusionList.length > 0">

    <div class="fusion_info" *ngIf="!isBigWidesize()">
      <ion-grid>
        <ion-row>
          <ion-col size="1">

          </ion-col>
          <ion-col size="4">
            <ion-text color="tertiary">ペルソナ1</ion-text>
          </ion-col>
          <ion-col size="2">
            <ion-text color="tertiary"> x</ion-text>
          </ion-col>
          <ion-col size="4">
            <ion-text color="tertiary">ペルソナ2</ion-text>
          </ion-col>
          <ion-col size="1">

          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <!-- <ion-list> -->
    <div *ngFor="let fusion of fusionList" class="fusion">
      <app-fusion [fusion]="fusion" (personaClicked)="onClickPersona($event)"></app-fusion>
    </div>
    <!-- </ion-list> -->

  </div>
  <div *ngIf="multiFusionList !== undefined && multiFusionList.length > 0">

    <ion-list>
      <!-- <ion-list-header>
        <ion-grid>
          <ion-row>
            <ion-col size="2">
            </ion-col>
            <ion-col auto>
              <ion-text>複数合体</ion-text>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-list-header> -->
      <div *ngFor="let persona of multiFusionList let i = index">

        <ion-item  class="multi_persona" lines="none">
          <app-persona-horizontal [persona]=persona [index]=i (click)="onClickPersona(persona.name)">
          </app-persona-horizontal>
        </ion-item>
        <div style="text-align:center;" *ngIf="i !== multiFusionList.length - 1">
          x
        </div>
      </div>
    </ion-list>
  </div>
</ion-content>